<h1>New test</h1>


<%= form_for @test do |f| %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>

    

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>

 
<br/>
